

.header {
  display: inline-flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width:100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  justify-content: space-between;
}

.header p {
  color: MediumAquamarine;
  margin-left: 15px;
  margin-top: 15px;
}


.nav li {
  display:inline-block;
  list-style-type: none;
  width: 100px;
}
.header a{
  color: black;
}
/* Let us SKIP the Header Section and commence with the rest */

.main {
  display: inline-flex;
  justify-content: space-between;
  width:100%;
}
.column{
  diplay:flex;
}
.column.large {
  width:630px;
}
.column.medium {
  width:300px;
}
.column.small {
  width:240px;
}
div {
  border:1px solid black;
}

.main-story {
  display: flex;
  background-image: url("main-story.png");
  font-family:Georgia;
  font-weight: bold;
  font-size:40px;
  color:white;
}

.picture {
  display: flex;
font-family:Georgia;
font-weight: bold;
font-size:30px;
color:white;
height: 200px;
}
.paragraph {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
/*Next we need to add more styling to Footer Section*/
